//colours

$colour-primary: #2dbead;
$colour-background: #e8e8e8;
$colour-ui-primary: white;
$colour-ui-secondary: black;
$colour-ui-third: #777777;
$purple: #743ad5;
$pink: #d53a9d;
$green: #378805;
$yellow: #c5e90b;
$colour-ui-shadow: rgba(0, 0, 0, 0.1);

$font-primary: "Open Sans", sans-serif;
