body {
  font-family: $font-primary;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1613771404784-3a5686aa2be3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1738&q=80");
  background-size: cover;
  background-attachment: fixed;
}
.toMain {
  position: absolute;
  margin-top: -83px;
}
.header-image {
  position: absolute;
  top: 3%;
  left: 3%;
}
.homepage-main,
.grass-main,
.contact-main,
.carddetail-main {
  margin: 50px;
  border-radius: 20px;
  background: $colour-background;
}
.homepage-main,
.carddetail-main {
  border: 5px solid $purple;
}
.grass-main {
  border: 5px solid $green;
}
.contact-main {
  border: 5px solid $yellow;
}
.homepage-search {
  width: 80%;
  margin: 0 10%;
  padding: 10px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  border: none;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.homepage-search_results {
  background-color: $colour-ui-primary;
  padding: 0;
}
.homepage-search_results_name {
  list-style-type: none;
  border: 1px solid $colour-ui-third;
  padding: 20px;
  text-decoration: none;
  color: $colour-ui-secondary;
}
.homepage-search_results_name:hover {
  background-color: $yellow;
}
.homepage-search_results a {
  text-decoration: none;
}
.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 40px 0;
  letter-spacing: 0.2rem;
}
.nav-item a {
  text-decoration: none;
  color: $colour-ui-primary;
}
.active,
.nav-item a:hover {
  font-weight: bold;
}

.vertical {
  border-left: 6px solid black;
  height: 200px;
  position: absolute;
  left: 50%;
}

.pokemon {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 200px;
}
.footer {
  background-color: $colour-ui-secondary;
  color: $colour-ui-third;
  display: flex;
  justify-content: space-evenly;
  padding: 30px 0;
}
.footer-list {
  padding: 0;
}
.footer-list_item {
  list-style-type: none;
}
.footer-list_item a {
  color: $colour-ui-third;
  text-decoration: none;
  list-style-type: none;
}
.footer-list_item a:hover {
  filter: brightness(1.75);
}
@media only screen and (max-width: 960px) {
  .nav {
    justify-content: flex-end;
    padding-right: 100px;
  }
  .pokemon {
    visibility: hidden;
  }
}
@media only screen and (max-width: 750px) {
  .nav {
    flex-direction: column;
    text-align: right;
  }
  .nav-item_divider {
    display: none;
  }
  .footer {
    flex-direction: column;
    text-align: center;
  }
}
@media only screen and (max-width: 600px) {
  .header-image {
    width: 200px;
  }
}
@media only screen and (max-width: 500px) {
  .nav {
    padding-right: 10px;
  }
}
