h1,
h2,
.homepage-search {
  font-family: "Mansalva", cursive;
  text-align: center;
}
h1 {
  color: $purple;
  text-shadow: 3px 3px black;
  font-size: 54px;
}
.grass-main h1 {
  color: $green;
}
p {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
